main{
	padding: 2%;
	width: 80%;
	margin: auto;
	box-shadow: 2px 1px 4px #000000;
	background-image: url("../images/dons-en-ligne.png");
	background-repeat: no-repeat;
	min-height: 70vh;
	margin-top: 2%;
	margin-bottom: 2%;
}

main img{
	width: 100%;
}

.bouton_don{
	background-color: #3462fe;
	color: #ffffff;
	border: #ffffff solid 2px;
	box-shadow: 2px 1px 3px #000000;
	width: 30%;
}

@media screen and (max-width: 780px){

	.bouton_don{
		width: 50%;
	}

	main{
		background-image: url("../images/dons-en-ligne2.jpg");
		min-height: 30vh;
	}
}