p{
	font-size: 1.2em;
}

ul{
	margin-left: 3%;
}

li{
	font-size: 0.85em;
}

main{
	width: 90%;
	margin: auto;
	text-align: justify;
}

.hr{
	width: 50%;
	margin: auto;
	border-bottom: 5px #3462fe solid;
	border-top: 5px #3462fe solid;
	padding: 2%;
	margin-bottom: 3%;
	margin-top: 3%;
	text-align: center;
}

h1{
	font-size: 1.2em;
	margin-top: 3%;
	text-align: center;
}
