*{
	margin: 0;
	padding: 0;
	font-size: 1.05em;
}
header{
	width: 100%;
	background-color: #3462fe;
}

#logo{
	background-color: #ffffff;
	margin: auto;
	display: inline-flex;
	width: 100%;
	margin-bottom: 0.5%;
}

#logo a{
	width: 20%;
	margin: auto;
	display: block;
}

.don{
	text-decoration: none;
	color: #000000;
	display: block;
	width: 20%;
	background-color: #3462fe;
	text-align: center;
}

#menu-header{
	display: flex;
	padding: 1%;
}

#menu-header li{
	list-style: none;
	width: 40%;
	border-right: #ffffff dotted 2px;
	display: block;
	text-align: center;
	font-size: 1em;
}

#menu-header a{
	text-decoration: none;
	color: #ffffff;

}