*{
	margin: 0;
	padding: 0;
	font-size: 1.1em;
}

header{
	padding: 0.5%;
	width: 95%;
	margin: auto;
	background-color: #288200;
}

#logo{
	background-color: #ffffff;
	margin: auto;
	display: inline-flex;
	width: 100%;
	margin-bottom: 0.5%;
}

#logo a{
	width: 20%;
	margin: auto;
	display: block;
}

.don{
	width: 170%;
}

#menu-header{
	display: flex;
	padding: 1%;
}

#menu-header ul{
	
}

#menu-header li{
	list-style: none;
	width: 40%;
	border-right: #ffffff dotted 2px;
	display: block;
	text-align: center;
}

#menu-header a{
	text-decoration: none;
	color: #ffffff;

}